/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-jun-2016, 21:06:22
    Author     : darkg
*/
/*carga*/
.cssload-container {
	position: relative;
	width: 275px;
	height: 275px;
	display:block;
	
	perspective: 1375px;
		-o-perspective: 1375px;
		-ms-perspective: 1375px;
		-webkit-perspective: 1375px;
		-moz-perspective: 1375px;
	perspective: 1375px;
		-o-perspective: 1375px;
		-ms-perspective: 1375px;
		-webkit-perspective: 1375px;
		-moz-perspective: 1375px;
	overflow: hidden;
}

@media (min-width: 1200px) {
    .cssload-container{
    margin:50px auto;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .cssload-container{
    margin:50px auto;
}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px)  {
    .cssload-container{
    margin:40px auto;
}

}

/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) and (orientation:portrait)  {
    .cssload-container{
    margin:20px auto;
}
}

/* Portrait phones and smaller */
@media (max-width: 480px) and (orientation:portrait)  {
    .cssload-container{
    margin:10px auto;
}

}

/*landscape mobile*/

@media (min-width: 481px) and (max-width: 767px) and (orientation:landscape) {
    .cssload-container{
    margin:0px auto;
}

}

@media (max-width: 480px) and (orientation:landscape) {
    .cssload-container{
    margin:0px auto;
}
}

.cube {
	position: absolute;
	bottom: 50%;
	left: 50%;
	width: 41px;
	height: 41px;
	margin-left: -21px;
	margin-top: 0;
}

.cube-2d {
	background-color: rgba(0,50,250,0.84);
}
.cssload-arc {
	position: absolute;
	bottom: 50%;
	left: 50%;
	margin-left: -96px;
	width: 193px;
	height: 96px;
	overflow: hidden;
}

.cssload-arc-cube {
	position: absolute;
	bottom: -96px;
	left: 50%;
	margin-left: -96px;
	width: 193px;
	height: 193px;
	border-style: solid;
	border-top-color: transparent;
	border-right-color: rgba(45,79,214,0.79);
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	animation: cssload-arc 2.3s ease-in-out infinite;
		-o-animation: cssload-arc 2.3s ease-in-out infinite;
		-ms-animation: cssload-arc 2.3s ease-in-out infinite;
		-webkit-animation: cssload-arc 2.3s ease-in-out infinite;
		-moz-animation: cssload-arc 2.3s ease-in-out infinite;
	transform: rotate(-200deg);
		-o-transform: rotate(-200deg);
		-ms-transform: rotate(-200deg);
		-webkit-transform: rotate(-200deg);
		-moz-transform: rotate(-200deg);
}

@keyframes cssload-arc {
	0% {
		border-width: 41px;
	}
	25% {
		border-width: 21px;
	}
	50% {
		transform: rotate(27deg);
		border-width: 41px;
	}
	75% {
		border-width: 21px;
	}
	100% {
		border-width: 41px;
	}
}

@-o-keyframes cssload-arc {
	0% {
		border-width: 41px;
	}
	25% {
		border-width: 21px;
	}
	50% {
		-o-transform: rotate(27deg);
		border-width: 41px;
	}
	75% {
		border-width: 21px;
	}
	100% {
		border-width: 41px;
	}
}

@-ms-keyframes cssload-arc {
	0% {
		border-width: 41px;
	}
	25% {
		border-width: 21px;
	}
	50% {
		-ms-transform: rotate(27deg);
		border-width: 41px;
	}
	75% {
		border-width: 21px;
	}
	100% {
		border-width: 41px;
	}
}

@-webkit-keyframes cssload-arc {
	0% {
		border-width: 41px;
	}
	25% {
		border-width: 21px;
	}
	50% {
		-webkit-transform: rotate(27deg);
		border-width: 41px;
	}
	75% {
		border-width: 21px;
	}
	100% {
		border-width: 41px;
	}
}

@-moz-keyframes cssload-arc {
	0% {
		border-width: 41px;
	}
	25% {
		border-width: 21px;
	}
	50% {
		-moz-transform: rotate(27deg);
		border-width: 41px;
	}
	75% {
		border-width: 21px;
	}
	100% {
		border-width: 41px;
	}
}

#fountainTextG{
	width:300px;
	margin:auto;
}

.fountainTextG{
	color:rgba(45,79,214,0.79);
	font-family:Arial;
	font-size:31px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_fountainTextG;
		-o-animation-name:bounce_fountainTextG;
		-ms-animation-name:bounce_fountainTextG;
		-webkit-animation-name:bounce_fountainTextG;
		-moz-animation-name:bounce_fountainTextG;
	animation-duration:0.821s;
		-o-animation-duration:0.821s;
		-ms-animation-duration:0.821s;
		-webkit-animation-duration:0.821s;
		-moz-animation-duration:0.821s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.5);
		-o-transform:scale(.5);
		-ms-transform:scale(.5);
		-webkit-transform:scale(.5);
		-moz-transform:scale(.5);
}#fountainTextG_1{
	animation-delay:0.2925s;
		-o-animation-delay:0.2925s;
		-ms-animation-delay:0.2925s;
		-webkit-animation-delay:0.2925s;
		-moz-animation-delay:0.2925s;
}
#fountainTextG_2{
	animation-delay:0.349s;
		-o-animation-delay:0.349s;
		-ms-animation-delay:0.349s;
		-webkit-animation-delay:0.349s;
		-moz-animation-delay:0.349s;
}
#fountainTextG_3{
	animation-delay:0.4055s;
		-o-animation-delay:0.4055s;
		-ms-animation-delay:0.4055s;
		-webkit-animation-delay:0.4055s;
		-moz-animation-delay:0.4055s;
}
#fountainTextG_4{
	animation-delay:0.472s;
		-o-animation-delay:0.472s;
		-ms-animation-delay:0.472s;
		-webkit-animation-delay:0.472s;
		-moz-animation-delay:0.472s;
}
#fountainTextG_5{
	animation-delay:0.5285s;
		-o-animation-delay:0.5285s;
		-ms-animation-delay:0.5285s;
		-webkit-animation-delay:0.5285s;
		-moz-animation-delay:0.5285s;
}
#fountainTextG_6{
	animation-delay:0.585s;
		-o-animation-delay:0.585s;
		-ms-animation-delay:0.585s;
		-webkit-animation-delay:0.585s;
		-moz-animation-delay:0.585s;
}
#fountainTextG_7{
	animation-delay:0.6415s;
		-o-animation-delay:0.6415s;
		-ms-animation-delay:0.6415s;
		-webkit-animation-delay:0.6415s;
		-moz-animation-delay:0.6415s;
}
#fountainTextG_8{
	animation-delay:0.698s;
		-o-animation-delay:0.698s;
		-ms-animation-delay:0.698s;
		-webkit-animation-delay:0.698s;
		-moz-animation-delay:0.698s;
}
#fountainTextG_9{
	animation-delay:0.7645s;
		-o-animation-delay:0.7645s;
		-ms-animation-delay:0.7645s;
		-webkit-animation-delay:0.7645s;
		-moz-animation-delay:0.7645s;
}
#fountainTextG_10{
	animation-delay:0.821s;
		-o-animation-delay:0.821s;
		-ms-animation-delay:0.821s;
		-webkit-animation-delay:0.821s;
		-moz-animation-delay:0.821s;
}
#fountainTextG_11{
	animation-delay:0.8775s;
		-o-animation-delay:0.8775s;
		-ms-animation-delay:0.8775s;
		-webkit-animation-delay:0.8775s;
		-moz-animation-delay:0.8775s;
}




@keyframes bounce_fountainTextG{
	0%{
		transform:scale(1);
		color:rgba(45,79,214,0.79);
	}

	100%{
		transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainTextG{
	0%{
		-o-transform:scale(1);
		color:rgba(45,79,214,0.79);
	}

	100%{
		-o-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainTextG{
	0%{
		-ms-transform:scale(1);
		color:rgba(45,79,214,0.79);
	}

	100%{
		-ms-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainTextG{
	0%{
		-webkit-transform:scale(1);
		color:rgba(45,79,214,0.79);
	}

	100%{
		-webkit-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainTextG{
	0%{
		-moz-transform:scale(1);
		color:rgba(45,79,214,0.79);
	}

	100%{
		-moz-transform:scale(.5);
		color:rgb(255,255,255);
	}
}
